.categories-container{
    display: flex;
    flex-direction: row;
    margin: 20px 101px auto 101px;
    align-items: center;
}

.categories-title{
    height: 100%;
}

.list-container{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1000px){
    .categories-container{
        flex-direction: column;
        justify-items: center;
    }

    .list-container{
        margin-top: 20px;
        margin-left: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media only screen and (max-width: 443px){
    .list-container{
        margin-top: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}

.categories:checked{
    background: #537893;
    color: #F2F2FF;
}

.categories >p{
    margin: auto;
}