.categories-container{
    display: flex;
    flex-direction: row;
    margin: 20px 101px auto 101px;
    align-items: center;
}

.categories-title{
    height: 100%;
}

.list-container{
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 1000px){
    .categories-container{
        flex-direction: column;
        justify-items: center;
    }

    .list-container{
        margin-left: 20px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* grid-gap: 20px; */
    }
}

@media only screen and (max-width: 443px){
    .list-container{
        grid-template-columns: repeat(2, 1fr);
        /* grid-gap: 20px; */
    }
}

.categories{
    display: flex;
    margin: 5px 5px 0px 5px;
    border: 1px solid #537893;
    color: #537893;
    border-radius: 16px;
    text-align: center;
    min-height: 36px;
    min-width: 122px;
}

.categories >p{
    margin: auto;
}