.container{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    min-height: 283px;
    color: #1F2B3F;
    
}
.card-container {
    background-color: seashell;
    margin: 10px;
    max-width: 267px;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #202B3F;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
}
.card-container >img {
    height: 80px;
    width: 80px;
    margin: 10px auto auto auto;
    border-radius: 10px;
}

.card-descrition-container{
    margin-top: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
}
.card-descrition-container .card-title{
    margin: auto;
}
.card-descrition-container .card-instagram{
    margin: auto auto auto auto;
    opacity: 0.8;
}

.card-descrition-container .card-descrition{
    max-height: 92px;
    text-align: center;
    opacity: 0.8;
    margin: 8px 10px 2px 10px;
}
.dropdown-buttons{
    position: relative;
    margin: auto;
    min-height: 36px;
    width: 156px;
}

.card-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    margin: auto auto 15px auto;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background: #547B98;
    border-radius: 16px;
    width: 156px;
    height: 100%;
    width: 100%;
    font-size: 18px;
    transition: min-height 0.7s;
}

.card-button-new{
    position: absolute;
    z-index: 1;
    min-height: 108px;
    background: seashell;
    color: #547B98;
    border: 1px solid #547B98;
}

.svg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.svg svg {
    margin-right: 15px;
}

.card-button-p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
    width: 90%;
    border-bottom: 1px solid lightgray;
}

.card-button-a{
    display: flex;
    align-items: center;

    height: 36px;
    width: 90%;
}

.card-button-a >a{
    text-decoration: none;
    color: #547B98;
}

.menu-dropdown{
    display: flex;
    flex-direction: column;
}

.img-button {
    width: 75px;
    height: 25px;
}

.button-web{
    /* border: 1px solid #dcdce6; */
    border-radius: 2px;
}

