.header{
    display: flex;
    padding: 32px 91px 32px 91px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #BADCDD;
    opacity: 1;
}

.header .header-dados{
    display: flex;
    flex-direction: row;
    max-width: 600px;
    word-wrap: break-word;
}

.header .header-dados >img{
    max-width: 194.11px;
    max-height: 70px;
}
.header .header-dados >p{
    margin: auto auto auto 30px;
    text-align: justify;
}

.select {
    min-width: 299px;
}

@media only screen and (max-width: 1000px){
    .header{
        flex-direction: column;
    }
    .header .header-dados{
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
}