
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background-color: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

button {
    cursor: pointer;
}

.button {
    width: 60px;
    /* height: 60px; */
    background:#90ee90 ;
    border: 0;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    box-shadow: 1px 1px 10px rgb(0, 0, 0, 0.2);
    text-align: center;
    text-decoration: none;
    transition: filter 0.2s;
}

.button:hover {
    filter: brightness(90%);
}