.container{
    height: 100%;
}
.body{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: lightgreen;
}

.body-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    margin: 50px auto;
}

@media only screen  and (max-width: 1024px){
    .body-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    
        margin: 50px auto;
    }
}

@media only screen and (max-width: 705px){
    .body-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 10px;
    
        margin: 50px auto;
    }
}

.card{
    max-width: 280px;
}

.img-button {
    width: 75px;
    height: 25px;
}

.button-web{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 25px;
    background-color: black;
    color: white;
}

.subtitle{
    color: gray;
    margin-bottom: 10px;
}

.linkButton{
    transition: filter 0.2s;
}

.linkButton:hover{
    filter: brightness(80%);
}

.mask{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.2);
}